{
  "pg": {
    "host": "HOST",
    "port": "PORT",
    "user": "USER",
    "password": "PASSWORD",
    "database": "DATABASE",
    "socketpath": "SOCKETPATH_OPTIONAL"
  },
  "pg_dev": {
    "host": "HOST",
    "port": "PORT",
    "user": "USER",
    "password": "PASSWORD",
    "database": "DATABASE",
    "socketpath": "SOCKETPATH_OPTIONAL"
  },
  "wca": {
    "client_id": "example-application-id",
    "base_url": "https://staging.worldcubeassociation.org/",
    "client_secret": "example-secret"
  },
  "pusher": {
    "key": "PUSHER_KEY",
    "cluster": "CLUSTER",
    "app_id": "APP_ID",
    "secret": "SECRET"
  },
  "general": {
    "jwt_expiration": "30",
    "jwt_secret": "JWT_SECRET"
  }
}

