.expanded-row-bg {
  background-color: var(--v-secondary-base);
}

.expanded-table-bg {
  border-left: 5px solid var(--v-secondary-base);
  border-bottom: 5px solid var(--v-secondary-base);
}

.truncate {
  max-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-mobile-row {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
